:root {
  /* Fonts */
  --font-sans: 'Kumbh Sans', sans-serif;
  /* Colors */
  --soft-violet: hsl(273, 75%, 66%);
  --grayish-blueL: hsl(240, 5%, 91%);

  /* Icon */
  --icon-rotate0: 0deg;
}
body{
  background-color: var(--soft-violet);
}
.container{
  background-color: #fff;
  margin: 120px 20px;
  padding: 0 20px 20px 20px;
  border-radius: 20px;
  position: relative;
}
.shade{
  display: block;
  margin: auto;
}
.logo{
  position: absolute;
  top: -100px;
}
.subtitle{
  font-family: var(--font-sans);
  font-size: 2em;
  text-align: center;
}
.menu{
  list-style: none;
  padding-left: 0;
}
.menu__item{
  height: 30px;
  overflow: hidden;
  font-family: var(--font-sans);
  font-weight: 400;
  color: rgb(122, 122, 122);
  margin-bottom: 10px;
  transition: all .5s ease-in-out;
}
.menu__item-activate{
  height: 95px;
  overflow: hidden;
  font-family: var(--font-sans);
  font-weight: 400;
  color: rgb(44, 44, 44);
  margin-bottom: 10px;
  transition: all .5s ease-in;
}
.list__title{
  font-size: .8em;
}
.list__title::after{
  content: url(../assets/images/icon-arrow-down.svg);
  position: absolute;
  right: 30px;
  transform: rotate(var(--icon-rotate));
  transition: all .5s;
}
.text{
  font-family: var(--font-sans);
  font-weight: 400;
  color: rgb(122, 122, 122);
  font-size: .8em;
  line-height: 1.5em;
}